.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
  }
  
  .credit-display {
    color: #fff;
    font-size: 28px;
    margin-right: auto;
  }
  
  .bet-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  }
  
  .bet-selector label {
    color: #fff;
    font-size: 28px;
    margin-right: 20px;
  }
  
  .bet-selector .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bet-selector button {
    background-color: #e1d632;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 28px;
    padding: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .bet-selector button.active {
    background-color: #f00;
    color: #fff;
  }
  
  .bet-selector button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  .bet-selector button:last-child {
    margin-right: 0;
  }
  
  .spinButton {
    background-color: #e1d632;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .spinButton.spinning {
    background-color: #999;
    color: #fff;
    cursor: default;
  }
  
  button:focus {
    outline: none;
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  